body{
    text-align: center;
    color: white;
}
h2{
    font-weight: bold;
    font-size: x-large;
}

h1,h2,p{
    font-family:"Amerika Sans",sans-serif; 
  }
.regidiv{
    background-color:#572F0E;
    width: 600px;
    margin: 50px;
    border-radius: 5rem;
}
.alldiv{
    display:flex;
    align-items:center;
    justify-content: center;
}
input{
    border-radius: 20px;
    border: none;
    height: 40px;
    vertical-align:middle;
    width: 400px;
    text-align: center;
    font-weight: bold;  
}
.code{
    width: 150px;
    border-radius: 20px 0px 0px 20px;
}
.city{
width: 250px;
border-radius: 0px 20px 20px 0px;
}
::placeholder{
    font-size: medium;
    font-weight: bold;
    text-align:center;
    font-family:"Amerika Sans",sans-serif;
}
.name{
    width: 200px;
    border-radius: 20px 0px 0px 20px;
}
.surname{
    width: 200px;
border-radius: 0px 20px 20px 0px;
}
p{
    padding: 10px;
}
.phone{
    width: 100px;
    border-radius: 20px 0px 0px 20px;
}
.email{
    width: 300px;
border-radius: 0px 20px 20px 0px;
}

button{
    background-color: #956944;
    color: white;
    border: none;
    height: 40px;
    width: 200px;
    font-size: large;
    font-weight: bold;
    border-radius: 1rem;
    margin-bottom: 20px;
}
button:hover{
    background-color:#7B4D27 ;
}

.confirmdiv{
    background-color:#572F0E;
    width: 600px;
    margin: 50px;
    border-radius: 5rem;
    font-size: large;
    font-weight: bold;
}

.street{
    width: 230px;
    border-radius: 20px 0px 0px 20px;
    
}

.houseNumber{
    width: 70px;
    border-radius: 0px 0px 0px 0px;

}
.flatNumber{
    width: 100px;
    border-radius: 0px 20px 20px 0px;

}
