
<body>
    <div class="alldiv">
     
    <form [formGroup]="registrationForm" (ngSubmit)="sendRegistrationForm">
    <div *ngIf="!successful" class="regidiv">
        <h2>Twoje konto</h2>
        <p><input  formControlName="login" id="p" type="text"  placeholder="Login"></p>
        <p><input formControlName="password" type="password" placeholder="Hasło"></p>
        <!-- <p><input formControlName="login" type="password" placeholder="Powtórz hasło"></p> -->
    
        <p *ngIf="passwordError">Hasła nie są identyczne</p>
        <h2>Twoje dane</h2>
        <p><input formControlName="firstName" class="name" type="text" placeholder="Imię"><input formControlName="lastName" class="surname" type="text" placeholder="Nazwisko"></p>
        <p><input formControlName="date" type="text" onblur="(this.type='text')"  onfocus="(this.type='date')" placeholder="Data urodzenia"></p>
        <p><input formControlName="street" type="text" placeholder="Ulica i numer"></p>
        <p><input formControlName="code" class="code" type="text" placeholder="Kod pocztowy"><input formControlName="city" class="city" type="text" placeholder="Miasto"></p>
        <p><input formControlName="country" type="text" placeholder="Kraj"></p>
        <p><input formControlName="phone" class="phone" type="tel" placeholder="Telefon"><input formControlName="email" class="email" type="email" placeholder="Adres e-mail"></p>
        <button (click)="sendRegistrationForm()">Załóż konto</button>
    </div>  
    
    <div *ngIf="successful" class="confirmdiv">
        <p>Udało się założyc konto</p>
        <button (click)="go()">Ok</button>
    </div>
</form>
</div>
</body>
