<!DOCTYPE html>
<HTML lang="en">
    <head>
    
    </head>
    <body>
 <div>
    
 </div>

        <nav class="navbar">
            <div (click)="home()" class="logodiv"><img  class="logo" src="../assets/img/logo3.png"></div>
            <a (click)="showBar()"  class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
            <ul class="nav">
                <li><a (click)="home()">Strona główna</a></li>
                <li><a (click)="products()" >Produkty</a></li>
                <li><a (click)="contact()">Kontakt</a></li>
                
               
               
            </ul>
            <div (click)="profile()"><img class="profile" src="../assets/img/usero.jpg"> </div>
        <div></div>
        <div></div>
            <div class="cartdiv" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" (click)="basket()"><img  class="cart" src="../assets/img/cartono.png">
                <p *ngIf="total!==0" class="amount">{{total}}</p>
                <p class="totalprice">{{totalPrice.toFixed(2)}}</p>
            
            </div>
     
    </nav>
   


  
<div class="testy">
    <app-basket id="carton" (mouseout)="onMouseOut()" (mouseover)="onMouseOver()" class="cartcontent" ></app-basket>
    <!-- <button id="tu" (click)="position()">Button</button>
    <p><button id="ru" (click)="position()">Button</button></p> -->
</div>
        
   

<div class="proddiv">
    <router-outlet></router-outlet>
</div>

</body>

</HTML>