<body>
    
    <div class="alldiv">
    <div class="logdiv">
        <div>
            <h2>Zaloguj się</h2>
      <p> Login <input type="text" ></p>
      <p> Hasło <input type="password"></p>
    </div>
    </div>
    <p class="orp">lub</p>
    <div class="regidiv">
        <div>
            <h2>Zarejestruj się</h2>
            <button (click)="register()" class="regiButton">Załóż nowe konto</button>
            <p><button (click)="goOn()" class="regiButton">Zamów bez konta</button></p>
    </div>
    </div>
</div>
</body>


