<body>
    <h1>Witaj</h1>
    <div class="alldiv">
    <div class="logdiv">
        <div>
            <h2>Zaloguj się</h2>
      <p> Login <input [(ngModel)]="model.login" type="text" ></p>
      <p> Hasło <input [(ngModel)]="model.password" type="password"></p>
      <button (click)="login()" class="regiButton">Zaloguj</button>
    </div>
    </div>
    <p class="orp">lub</p>
    <div class="regidiv">
        <div>
            <h2>Zarejestruj się</h2>
            <button (click)="register()" class="regiButton">Załóż nowe konto</button>
    </div>
    </div>
</div>
</body>


