
<body>
    <div class="alldiv">
     
    <div *ngIf="!successful" class="regidiv">
        <h2>Twoje konto</h2>
        <p><input  [(ngModel)]="model.login" id="p" type="text"  placeholder="Login"></p>
        <p><input [(ngModel)]="model.password1" type="password" placeholder="Hasło"></p>
        <p><input [(ngModel)]="model.password2" type="password" placeholder="Powtórz hasło"></p>
    
        <p *ngIf="passwordError">Hasła nie są identyczne</p>
        <h2>Twoje dane</h2>
        <p><input [(ngModel)]="model.firstName" class="name" type="text" placeholder="Imię"><input [(ngModel)]="model.lastName" class="surname" type="text" placeholder="Nazwisko"></p>
        <p><input [(ngModel)]="model.date" type="text" onblur="(this.type='text')"  onfocus="(this.type='date')" placeholder="Data urodzenia"></p>
        <p><input [(ngModel)]="model.street" type="text" placeholder="Ulica i numer"></p>
        <p><input [(ngModel)]="model.code" class="code" type="text" placeholder="Kod pocztowy"><input [(ngModel)]="model.city" class="city" type="text" placeholder="Miasto"></p>
        <p><input [(ngModel)]="model.country" type="text" placeholder="Kraj"></p>
        <p><input [(ngModel)]="model.phone" class="phone" type="tel" placeholder="Telefon"><input [(ngModel)]="model.email" class="email" type="email" placeholder="Adres e-mail"></p>
        <button (click)="check()">Załóż konto</button>
    </div>  
    
    <div *ngIf="successful" class="confirmdiv">
        <p>Udało się założyc konto</p>
        <button (click)="go()">Ok</button>
    </div>
</div>
</body>
